<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
    <add key="github-getget99" value="https://nuget.pkg.github.com/GetGet99/index.json" />
    <add key="github-gtudios-ui" value="https://nuget.pkg.github.com/Gtudios-UI/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-getget99>
      <add key="Username" value="github" />
      <add key="ClearTextPassword" value="%GITHUB_PACKAGES_TOKEN%" />
    </github-getget99>
    <github-gtudios-ui>
      <add key="Username" value="github" />
      <add key="ClearTextPassword" value="%GITHUB_PACKAGES_TOKEN%" />
    </github-gtudios-ui>
  </packageSourceCredentials>
</configuration>
